body {
  min-height: 800px;
  background-color: #ddf3fb;
  height: 100%;
  width: 100%;
  margin: 0;
}


.navbar-static-top {
  background-color: #ADD8E6;
  border-color: lightgrey;
  color: white;
  height: 20px;

}
.navbar {
    margin-bottom: 2px;
    position: fixed;
    width: 100%;
}
.navbar-brand{
  position: relative;
  top: -5px;
}
.navbar-default .navbar-nav>li>a{
  color:black;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar-default .navbar-brand {
  color: white;

}
.navbar-default .navbar-fnt {
    color: white;
}
.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: white;
}

.navbar-default .navbar-toggle {
 border-color: transparent !important;
}

.navbar-toggle:hover {
	background-color: #1A5F23 !important;
}

.navbar-toggle {
	background-color: black !important;
}

.navbar-nav li a {
	line-height: 50px;
	height: 20px;
    padding-top: 0;
    background-color: #ADD8E6;
    border-bottom-color: #ADD8E6; 
    color: white;
    outline-color: #ADD8E6;
    padding: 
}