{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}
<div class='row'>
<h1>Your upcoming:</h1>
</div>
<!-- This is just example code -->
<div class='row'>
	<div>
	{% for key, value in my_guests.items %}
	<h3>Party name: {{key.name}}</h3><hr>
		<div class='row'>
			<div class='col-sm-6'>
				<h4>Requested permission</h4>
			</div>
			<div class='col-sm-6'>
				<h4>Attending Event</h4>
			</div>
		<div class='row'>
		{% for guest in value.requests %}
			<div class='col-sm-3'>
				<center>
				{% if guest.picture %}
				<a href="{{guest.get_absolute_url}}">
				<img src='{{guest.picture.url}}' class="img-responsive profile_pic" style='border-radius: 50%;'/>
				{% endif %}
				<p>{{guest.user}}</p>
				</a>
				</center>
			</div>
			<div class='col-sm-3'>
				<form action='' method="post">{% csrf_token %}
					<input type='hidden' name='id' value='{{key.id}}'>
					<input type='hidden' name='name' value='{{key}}'>
					<input type='hidden' name='guest' value='{{guest}}'>
					<button type="submit" class="save btn btn-primary">Confirm</button>
				</form>
			</div>
		{% endfor %}
		{% if not value.requests %}
		<div class='col-sm-6'></div>
		{% endif %}
		{% for guest in value.attending %}
			<div class='col-sm-6'>
				{% if guest.picture %}
				<a href="{{guest.get_absolute_url}}">
				<img src='{{guest.picture.url}}' class="img-responsive profile_pic" style='border-radius: 50%;'/>
				{% endif %}
				<p>{{guest.user}}</p>
				</a>
			</div>
		{% endfor %}
		</div>
		</div>
	{% endfor %}
	</div>

<!-- {{my_requests.Event}} -->
</div>

<div>
<footer class="footer">
	<div class="container">
 	<p class='lead'>You are logged in as: {{user}}</p>
	</div>
</footer>
</div>




{% endblock %}