{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}

<h1>Manage your parties here:</h1>

<!-- This is just example code -->
<div>
	{% for key, value in my_requests.items %}
	<h3>Party name: {{key.name}}</h3><hr>
<!-- 	<h4>{{value}}</h4> -->
		<h4>Requested permission</h4>
		{% for guest in value %}
		<div class='row'>
			<div class='col-sm-6'>
				<p class='lead'>{{guest}}</p>
			</div>
			<div class='col-sm-6'>
				<form action='' method="post">{% csrf_token %}
					<input type='hidden' name='id' value='{{key.id}}'>
					<input type='hidden' name='name' value='{{key}}'>
					<input type='hidden' name='guest' value='{{guest}}'>
					<button type="submit" class="save btn btn-primary">Confirm</button>
				</form>
			</div>
		</div>
		{% endfor %}
	{% endfor %}

<!-- {{my_requests.Event}} -->
</div>

<div>
<footer class="footer">
	<div class="container">
 	<p class='lead'>You are logged in as: {{user}}</p>
	</div>
</footer>
</div>





{% endblock %}